Website_dev/.env
Website_dev/backend/cached_embedding_models/IoannisKat1__bge-m3-legal-matryoshka/1_Pooling/config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__bge-m3-legal-matryoshka/config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__bge-m3-legal-matryoshka/config_sentence_transformers.json
Website_dev/backend/cached_embedding_models/IoannisKat1__bge-m3-legal-matryoshka/model.safetensors
Website_dev/backend/cached_embedding_models/IoannisKat1__bge-m3-legal-matryoshka/modules.json
Website_dev/backend/cached_embedding_models/IoannisKat1__bge-m3-legal-matryoshka/README.md
Website_dev/backend/cached_embedding_models/IoannisKat1__bge-m3-legal-matryoshka/sentence_bert_config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__bge-m3-legal-matryoshka/sentencepiece.bpe.model
Website_dev/backend/cached_embedding_models/IoannisKat1__bge-m3-legal-matryoshka/special_tokens_map.json
Website_dev/backend/cached_embedding_models/IoannisKat1__bge-m3-legal-matryoshka/tokenizer.json
Website_dev/backend/cached_embedding_models/IoannisKat1__bge-m3-legal-matryoshka/tokenizer_config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__legal-bert-base-uncased-legal-matryoshka/1_Pooling/config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__legal-bert-base-uncased-legal-matryoshka/config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__legal-bert-base-uncased-legal-matryoshka/config_sentence_transformers.json
Website_dev/backend/cached_embedding_models/IoannisKat1__legal-bert-base-uncased-legal-matryoshka/model.safetensors
Website_dev/backend/cached_embedding_models/IoannisKat1__legal-bert-base-uncased-legal-matryoshka/modules.json
Website_dev/backend/cached_embedding_models/IoannisKat1__legal-bert-base-uncased-legal-matryoshka/README.md
Website_dev/backend/cached_embedding_models/IoannisKat1__legal-bert-base-uncased-legal-matryoshka/sentence_bert_config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__legal-bert-base-uncased-legal-matryoshka/special_tokens_map.json
Website_dev/backend/cached_embedding_models/IoannisKat1__legal-bert-base-uncased-legal-matryoshka/tokenizer.json
Website_dev/backend/cached_embedding_models/IoannisKat1__legal-bert-base-uncased-legal-matryoshka/tokenizer_config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__legal-bert-base-uncased-legal-matryoshka/vocab.txt
Website_dev/backend/cached_embedding_models/IoannisKat1__modernbert-embed-base-legal-matryoshka-2/1_Pooling/config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__modernbert-embed-base-legal-matryoshka-2/config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__modernbert-embed-base-legal-matryoshka-2/config_sentence_transformers.json
Website_dev/backend/cached_embedding_models/IoannisKat1__modernbert-embed-base-legal-matryoshka-2/model.safetensors
Website_dev/backend/cached_embedding_models/IoannisKat1__modernbert-embed-base-legal-matryoshka-2/modules.json
Website_dev/backend/cached_embedding_models/IoannisKat1__modernbert-embed-base-legal-matryoshka-2/README.md
Website_dev/backend/cached_embedding_models/IoannisKat1__modernbert-embed-base-legal-matryoshka-2/sentence_bert_config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__modernbert-embed-base-legal-matryoshka-2/special_tokens_map.json
Website_dev/backend/cached_embedding_models/IoannisKat1__modernbert-embed-base-legal-matryoshka-2/tokenizer.json
Website_dev/backend/cached_embedding_models/IoannisKat1__modernbert-embed-base-legal-matryoshka-2/tokenizer_config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__multilingual-e5-large-legal-matryoshka/1_Pooling/config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__multilingual-e5-large-legal-matryoshka/config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__multilingual-e5-large-legal-matryoshka/config_sentence_transformers.json
Website_dev/backend/cached_embedding_models/IoannisKat1__multilingual-e5-large-legal-matryoshka/model.safetensors
Website_dev/backend/cached_embedding_models/IoannisKat1__multilingual-e5-large-legal-matryoshka/modules.json
Website_dev/backend/cached_embedding_models/IoannisKat1__multilingual-e5-large-legal-matryoshka/README.md
Website_dev/backend/cached_embedding_models/IoannisKat1__multilingual-e5-large-legal-matryoshka/sentence_bert_config.json
Website_dev/backend/cached_embedding_models/IoannisKat1__multilingual-e5-large-legal-matryoshka/sentencepiece.bpe.model
Website_dev/backend/cached_embedding_models/IoannisKat1__multilingual-e5-large-legal-matryoshka/special_tokens_map.json
Website_dev/backend/cached_embedding_models/IoannisKat1__multilingual-e5-large-legal-matryoshka/tokenizer.json
Website_dev/backend/cached_embedding_models/IoannisKat1__multilingual-e5-large-legal-matryoshka/tokenizer_config.json
Website_dev/backend/cached_reranker_models/BAAI__bge-reranker-base/config.json
Website_dev/backend/cached_reranker_models/BAAI__bge-reranker-base/model.safetensors
Website_dev/backend/cached_reranker_models/BAAI__bge-reranker-base/README.md
Website_dev/backend/cached_reranker_models/BAAI__bge-reranker-base/sentencepiece.bpe.model
Website_dev/backend/cached_reranker_models/BAAI__bge-reranker-base/special_tokens_map.json
Website_dev/backend/cached_reranker_models/BAAI__bge-reranker-base/tokenizer.json
Website_dev/backend/cached_reranker_models/BAAI__bge-reranker-base/tokenizer_config.json
Website_dev/frontend/.env.production

